
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BFD3C1;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    font-size: 1.5rem;
}



.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 70vw;
    background-color: #FFE5D4;
    border-radius: 1rem;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.last{
    width: 85%;
    margin: 0 auto ;
}


.key{
    cursor: pointer;
    padding: 2rem;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid black;

}


<<<<<<< HEAD
=======


>>>>>>> 871e22e0987e124dbb31e24db9699c4307cb4e84
#content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title {
<<<<<<< HEAD
    border: 1px solid black;
    border-radius: 25px;
    font-size: 4rem;
    padding: 10px;
=======
    border: 6px solid orange;
    border-radius: 0px 30px 0px 30px;
    border-style: dashed solid;
    font-family: "Handjet", sans-serif;
     font-style: normal;
     font-size: 8rem;
     letter-spacing: 10px;
     background: linear-gradient(to bottom, rgba(50, 63, 121, 0.833), rgba(193, 184, 55, 0.658));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
   
    

>>>>>>> 871e22e0987e124dbb31e24db9699c4307cb4e84
}

#grid-container {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(8, 60px);
    margin-bottom: 10vh;
  
   
=======
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(8, 40px);
    margin-bottom: 10vh;
>>>>>>> 871e22e0987e124dbb31e24db9699c4307cb4e84

}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid black;
    font-size: 15px;
    background-color: #FFE5D4;

}

